################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ioop-project-master/.vs/ioop-project/FileContentIndex/2f176d4c-3f82-40b0-9b46-669a58a4cc7b.vsidx
